{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Daftar Buku</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
	<div class="container-fluid" style="padding-left: 0%; padding-right: 0%;">
		<div class="col-sm-12">
				<ul class="navbar-baru">
						<img class="logo" src="{% static 'JAMBUMUDA.png' %}">
						<li><a href="/">Home</a></li>
						<li><a href='/pendaftaran/'>Daftar</a></li>
						<li><a class="active" href='/data_buku/'>Data Buku</a></li>
						<li><a href='/formpeminjaman/'>Form Peminjaman</a></li>
						<li><a href='/data-peminjaman/'>Data Peminjaman</a></li>
					</ul>
			<h1 class="judul">Daftar Buku</h1>
			<table class = "tables">
				<tr>
					<th class = "tables">Nomor Buku</th>
					<th class = "tables">
						<div class="row">
						<div class="col">
							Kategori Genre
						</div>
						<div class="col dropdown">
						 <form method="GET">
			                <select name="kategori">
			                    <option value="" disabled selected>Genre</option>
			                    <option value="Action"><button type="submit" class="btn">Action</button></option>
			                    <option value="Comedy"><button type="submit" class="btn">Comedy</button></option>
			                    <option value="Romance"><button type="submit" class="btn">Romance</button></option>
			                    <option value="Drama"><button type="submit" class="btn">Drama</button></option>
			                    <option value="Sci-fi"><button type="submit" class="btn">Sci-fi</button></option>
			                    <option value="Fantasy"><button type="submit" class="btn">Fantasy</button></option>
			                    <option value="Horror"><button type="submit" class="btn">Horror</button></option>
			                    <option value="Thriller"><button type="submit" class="btn">Thriller</button></option>
			                    <option value="Adventure"><button type="submit" class="btn">Adventure</button></option>
			                </select>
						</div>
							
						</div>
					</th>
					<th class = "tables">Judul Buku</th>
					<th class = "tables">Nama Pengarang</th>
					<th class = "tables">Nama Penerbit</th>
					<th class = "tables">Sinopsis Buku</th>
					<th class = "tables">Foto Cover</th>
					<th class = "tables">Stock</th>
				</tr>
				{% for buku in list_buku %}
				<tr>
					<td class = "tables">{{ buku.nomor }}</td>
					<td class = "tables">{{ buku.kategori }}</td>
					<td class = "tables">{{ buku.judul }}</td>
					<td class = "tables">{{ buku.pengarang }}</td>
					<td class = "tables">{{ buku.penerbit }}</td>
					<td class = "tables">{{ buku.sinopsis }}</td>
					<td class = "tables"><img src='data:image/jpg;base64,{{buku.foto}}'></td>
					<td class = "tables">{{ buku.stok }}</td>
				</tr>
				{% endfor %}
			</table>
			<br>
			<!-- End For Loop -->
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
