body{
    background-color:#FFEAE8;
}

.logo{
    width:30px;
    height:auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9D0D0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
li {
    font-family: 'Roboto', sans-serif;
    float: right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color:#FFA8A8;
}
  
.active {
    background-color: #DF3F3F;
}

.judul {
    margin-top:70px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: normal;

    color: #000000;
}

.data {
    border-style: solid;
    border-color: #F9D0D0;
    border-width: 5px;
    margin-bottom : 10px;
    background-color: white;
    width: 50%;
}

.nomor{
    margin-bottom : 10px;
    width : 30px;
    background-color:#F9D0D0;
}

.isidata{
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 25%;

    color: #000000;
}

.nomordata{
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 25%;

    color:white;
}

.flex-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 400px){
    body{
        background-color:#FFEAE8;
    }
    
    .judul {
        margin-top:35px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: normal;
    
        color: #000000;
    }
    
    .data {
        border-style: solid;
        border-color: #F9D0D0;
        border-width: 2px;
        margin-bottom : 5px;
        background-color: white;
        width: 70%;
    }
    
    .nomor{
        width : 15px;
        margin-bottom : 5px;
        background-color:#F9D0D0;
    }
    
    .isidata{
        padding-left: 10px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 12px;
        line-height: 25%;
    
        color: #000000;
    }
    
    .nomordata{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 12px;
        line-height: 25%;
    
        color:white;
    }
    
    .flex-container{
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

}