{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <title>SiJambu MUDA - Data Peminjaman</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'nurul.css' %}">

</head>
<body>          

    {% if user.is_authenticated %}
    <ul class="navbar">
        <img class="logo" src="{% static 'JAMBUMUDA.png' %}">
        <li><a href="/">Home</a></li>
        <li><a href='/login/logout'>Logout</a></li>
        <li><a href='/data_buku/'>Data Buku</a></li>
        <li><a href='/formpeminjaman/'>Form Peminjaman</a></li>
        <li><a href='/data-peminjaman/'>Data Peminjaman</a></li>
        <li><a href='/riwayat/'>Riwayat</a></li>
        <li><a class="active" href='/testimoni/'>Testimoni</a></li>
    </ul>
    {% else %}
    <ul class="navbar">
        <img class="logo" src="{% static 'JAMBUMUDA.png' %}">
        <li><a href="/">Home</a></li>
        <li><a href='/login/'>Login</a></li>
        <li><a href='/pendaftaran/'>Daftar</a></li>
        <li><a href='/data_buku/'>Data Buku</a></li>
        <li><a href='/formpeminjaman/'>Form Peminjaman</a></li>
        <li><a href='/data-peminjaman/'>Data Peminjaman</a></li>
        <li><a class="active" href='/testimoni/'>Testimoni</a></li>
    </ul>
    {% endif %}

    <h1 class="judul">Data Peminjaman Buku</h1>

    {% for items in list_peminjaman %}
    <div class="flex-container">
        <div class="nomor">
            <p class="nomordata">{{ forloop.counter }}.</p>
        </div>
        <div class="data">
            <p class="isidata"> <b>Username :</b> {{items.username}} </p>
            <p class="isidata"> <b>Email :</b> {{items.email}} </p>
            <p class="isidata"> <b>Nomor Buku :</b> {{items.bookNumber}} </p>
            <p class="isidata"> <b>Judul Buku :</b> <i>{{items.judul}}</i> </p>
            <p class="isidata"> <b>Tanggal Pinjam :</b> {{items.dateTime}} </p>
        </div>
    </div>
    {% endfor %}
</body>
</html>