<!DOCTYPE html>

{% extends 'template/base.html' %}
{% block content %}

<html lang="en" dir="ltr">
	<head>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<form id="login-form" method="post">
          {% csrf_token %}
          <table class="table">
              <tr>
                  <td><label for="id_username">Username</label></td>
                  <td><input id="id_username" name="username" type="text" class="form-control"></td>
              </tr>
              <tr>
                  <td><label for="id_password">Password</label></td>
                  <td><input id="id_password" name="password" type="password" class="form-control"></td>
              </tr>
          </table>
          {% if form.errors %}
              <p class=" label label-danger">
                  Your username and password didn't match.
                  Please try again.
              </p>
          {% endif %}

          <input type="submit" value="Login" class="btn btn-primary pull-right"/>
          <input type="hidden" name="next" value="{{ next }}"/>
        </form>
			</div>

			<div class="row">
				{% if user.is_authenticated %}
					<p>Selamat datang, {{ user.username }}</p>
					<a href="{% url 'logout' %}"><button type="button" class="btn btn-primary" id="logout_btn">Logout</button></a>
				{% else %}
					<a href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" class="btn btn-primary" id="login_btn">Login with Google</button></a>
				{% endif %}
			</div>
			
		</div>
	</body>
</html>

{% endblock %}
