<ul class="navbar">
  <img class="logo" src="../../static/img/JAMBUMUDA.png">
  <li><a href="/">Home</a></li>
  <li><a href="/login/">Login</a></li>
  <li><a href='/pendaftaran/'>Daftar</a></li>
  <li><a href='/data_buku/'>Data Buku</a></li>
  <li><a class="active" href='/formpeminjaman/'>Form Peminjaman</a></li>
  <li><a href='/data-peminjaman/'>Data Peminjaman</a></li>
</ul>
