body{
    background-color: #FFEAE8
}
.logo{
    width:30px;
    height:auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9D0D0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
li {
    font-family: 'Roboto', sans-serif;
    float: right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color:#FFA8A8;
}
  
.active {
    background-color: #DF3F3F;
}

.daftar{
    margin-top: 20px;
}
.title{
    margin-top:70px;
    font-family: Roboto;
    font-size: 36px;
}
.muda{
    margin: 0;
    width: auto;
    height: 150px;
}


/* @media screen and (max-width: 520px){
    .title{
        height: 0%;
        width: 0%;
    }
    .jambu{
        height: 60px !important;
        width: 50px !important;
    }
} */