{% if user.is_authenticated %}
  <ul class="navbar">
      <img class="logo" src="{% static 'JAMBUMUDA.png' %}">
      <li><a href="/">Home</a></li>
      <li><a href='/login/logout/'>Logout</a></li>
      <li><a href='/data_buku/'>Data Buku</a></li>
      <li><a href='/formpeminjaman/'>Form Peminjaman</a></li>
      <li><a href='/data-peminjaman/'>Data Peminjaman</a></li>
      <li><a class="active" href='/riwayat/'>Riwayat</a></li>
  </ul>
  {% else %}
  <ul class="navbar">
      <img class="logo" src="{% static 'JAMBUMUDA.png' %}">
      <li><a href="/">Home</a></li>
      <li><a href='/login/'>Login</a></li>
      <li><a href='/pendaftaran/'>Daftar</a></li>
      <li><a href='/data_buku/'>Data Buku</a></li>
      <li><a href='/formpeminjaman/'>Form Peminjaman</a></li>
      <li><a href='/data-peminjaman/'>Data Peminjaman</a></li>
  </ul>