<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'riwayat.css' %}">
    <title>Riwayat</title>
</head>
<body>
    {% if user.is_authenticated %}
    <ul class="navbar">
        <img class="logo" src="{% static 'JAMBUMUDA.png' %}">
        <li><a href="/">Home</a></li>
        <li><a href='/login/logout/'>Logout</a></li>
        <li><a href='/data_buku/'>Data Buku</a></li>
        <li><a href='/formpeminjaman/'>Form Peminjaman</a></li>
        <li><a href='/data-peminjaman/'>Data Peminjaman</a></li>
        <li><a class="active" href='/riwayat/'>Riwayat</a></li>
        <li><a href='/testimoni/'>Testimoni</a></li>
    </ul>
    {% else %}
    <ul class="navbar">
        <img class="logo" src="{% static 'JAMBUMUDA.png' %}">
        <li><a href="/">Home</a></li>
        <li><a href='/login/'>Login</a></li>
        <li><a href='/pendaftaran/'>Daftar</a></li>
        <li><a href='/data_buku/'>Data Buku</a></li>
        <li><a href='/formpeminjaman/'>Form Peminjaman</a></li>
        <li><a href='/data-peminjaman/'>Data Peminjaman</a></li>
        <li><a href='/testimoni/'>Testimoni</a></li>
    </ul>
    {% endif %}
    <div class="center">
        <h1 class="nama">Riwayat</h1>
        <div class="total" style="font-size: 24px; margin: 10px;">Total Pinjaman: 0</div>
        <div class="data">
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="{% static 'riwayat.js' %}"></script>
</body>
</html>