{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<title>Testimoni</title>
</head>
<body>
	<div class="container-fluid">
		<div class="col-sm-12">
			{% if user.is_authenticated %}
		    <ul class="navbar">
		        <img class="logo" src="{% static 'JAMBUMUDA.png' %}">
		        <li><a href="/">Home</a></li>
		        <li><a href='/login/logout'>Logout</a></li>
		        <li><a href='/data_buku/'>Data Buku</a></li>
		        <li><a href='/formpeminjaman/'>Form Peminjaman</a></li>
		        <li><a href='/data-peminjaman/'>Data Peminjaman</a></li>
		        <li><a href='/riwayat/'>Riwayat</a></li>
		        <li><a class="active" href='/testimoni/'>Testimoni</a></li>
		    </ul>
		    {% else %}
		    <ul class="navbar">
		        <img class="logo" src="{% static 'JAMBUMUDA.png' %}">
		        <li><a href="/">Home</a></li>
		        <li><a href='/login/'>Login</a></li>
		        <li><a href='/pendaftaran/'>Daftar</a></li>
		        <li><a href='/data_buku/'>Data Buku</a></li>
		        <li><a href='/formpeminjaman/'>Form Peminjaman</a></li>
		        <li><a href='/data-peminjaman/'>Data Peminjaman</a></li>
		        <li><a class="active" href='/testimoni/'>Testimoni</a></li>
		    </ul>
		    {% endif %}
			<h1 style="padding-top: 30px; padding-bottom: 30px; text-align: center;">Testimoni</h1>
			{% if user.is_authenticated %}
				<form id="testimoni_form" style="padding-bottom: 30px;" method="POST">
				    {% csrf_token %}
				    <table>
				    <tr>
				    	<th style="width: 20%;"></th>
				    </tr>
				    {{ testimoni_form.as_table }}
				    </table>
				    <br>
				    <input id="submit_button" type="submit" value="Submit">
				</form>
			{% else %}
				<p style="padding: 0px; margin: 0px;">Silakan melakukan login untuk memberi testimoni</p>
				<a href="/login"><button id="button_link" type="button" class="btn btn-primary" style="margin-top: 15px;">Login</button></a>
			{% endif %}
			<h2 style="padding-top: 15px; padding-bottom: 15px;">Testimoni from user :</h2>
			<div id="isi">
			</div>
		</div>
	</div>
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'testimoni.js' %}"></script>
</body>
</html>