.logo{
    width:30px;
    height:auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9D0D0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
li {
    font-family: 'Roboto', sans-serif;
    float: right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color:#FFA8A8;
}
  
.active {
    background-color: #DF3F3F;
}

table.navigationbar {
	margin-top: 10px;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 20px;
	width: 70%;
}
body {
	background-color: #FFEAE8;
}

.judul {
	text-align: center;
	font: bold 48px roboto;
	margin-bottom: 25px;
}

table.tables {
	width: 100%;
	border: 1px solid black;
}
th.tables {
	height: 45px;
	border: 1px solid black;
	width: 130px;
	text-align: center;
	font: bold 22px roboto;
	background-color: #00FFFF;
}
td.tables {
	font-size: 18px;
	height: 15px;
	border: 1px solid black;
	width: 130px;
	text-align: left;
	background-color: #FFFFFF;
}