<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
        <ul class="navbar-reka">
                <img class="logo" src="{% static 'JAMBUMUDA.png' %}">
                <li><a href="/">Home</a></li>
                <li><a class="active" href='/pendaftaran/'>Daftar</a></li>
                <li><a href='/data_buku/'>Data Buku</a></li>
                <li><a href='/formpeminjaman/'>Form Peminjaman</a></li>
                <li><a href='/data-peminjaman/'>Data Peminjaman</a></li>
            </ul>
        

    <div class='container-fluid'> 
        <div class="row justify-content-center title">
            <p>Form Pendaftaran</p>
        </div>    
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="form-group" style="margin-top:50px;">
                    <form id="form" method="POST" >
                        {% csrf_token %}
                        {{ forms}}
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <br>
                        <button type="submit" class="btn btn-outline-dark daftar">Daftar</button> 
                        <!-- <input type="button" value="Keluar" class="btn btn-primary tombol" onclick="history.back()"> -->
                    </form>
                </div>
            </div>
         </div>
    </div>
</body>
</html>