{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script type="text/javascript" src="{% static 'js/formpeminjaman.js' %}"></script>


    <title>Form Peminjaman</title>
  </head>
  <body>
      <ul class="navbar-baru">
          <img class="logo" src="{% static 'JAMBUMUDA.png' %}">
          <li><a href="/">Home</a></li>
          <li><a href='/pendaftaran/'>Daftar</a></li>
          <li><a href='/data_buku/'>Data Buku</a></li>
          <li><a class="active" href='/formpeminjaman/'>Form Peminjaman</a></li>
          <li><a href='/data-peminjaman/'>Data Peminjaman</a></li>
      </ul>

    <h1 style="text-align: center">Form Peminjaman Buku</h1>
    
    {% block content %}
      {% if user.is_authenticated %}
        <p class="sapa-user" style="text-align: center" >Hello, {{ user.username }}</p>
        <div class="container col-md">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <!-- <span>Stok Buku :<span><span id="stok"> <i> Silakan pilih buku terlebih dahulu.<i></i></span> -->
              <div>
                  <button type="submit" id= "button-form-pinjam" class="btn btn-outline-dark">Pinjam</button>
              </div>
            </form>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

      {% else %}
        <p class="sapa-user" style="text-align: center">Hello! Ingin meminjam buku? Pastikan telah masuk pada website SiJambu Muda!</p>
        <a href="/login" class="btn btn-outline-dark" style="align:center;">Masuk</a>
        <p style="text-align: center">- atau -</p>
        <br>
        <p style="text-align: center">Belum menjadi Member?<br>Klik tombol dibawah ini untuk daftar sekarang juga!</p>
        <a href="/pendaftaran" class="btn btn-outline-dark" style="align:center;">Daftar</a>
      {% endif %}
    {% endblock content %}


  </body>
</html>
